.level-block {
  text-align: center;
  margin: 1px;
  min-height: 50px;
  min-width: 80px;
  cursor: pointer;
  border-radius: 15px;
  border: 2px solid transparent;
}

.level-block:hover {
  border: 2px solid #007f01;
}

.level-block p {
  word-wrap: break-word;
  max-width: 280px;
}

.level-block.level-active div.line {
  background-color: #007f01;
  height: 5px;
}

.level-block.level-finished {
  color: grey;
}

.level-block.level-dismissed {
  color: grey;
}

.level-block div.line {
  background: #494949;
  height: 5px;
}

.level-finished div.line {
  background: #323232;
}

.level-dismissed div.line {
  background: #1f1f1f;
}

#level-list {
  width: auto;
  margin: 40px 20px; 
}
