.level-block {
  text-align: center;
  min-height: 50px;
  min-width: 80px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid transparent;
}

.level-block:hover {
  border: 2px solid #007f01;
}

.level-block p {
  word-wrap: break-word;
  max-width: 280px;
}

.level-block.level-active div.line {
  background-color: #007f01;
  height: 5px;
}

.level-block.level-finished {
  color: grey;
}

.level-block.level-dismissed {
  color: grey;
}

.level-block div.line {
  background: #494949;
  height: 5px;
}

.level-finished div.line {
  background: #2a2a2a;
}

.level-dismissed div.line {
  background: #1f1f1f;
}

#level-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
