body {
  min-width: 26em;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0.5em 1em;
  margin: 0;
}

ul input {
  vertical-align: bottom;
}

ul label, ul span {
  vertical-align: middle;
  padding: 0 0.2em;
}

ul h3, ul div {
  margin: 0.5em 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.contacts {
  display: block;
}

.contacts a {
  display: flex;
  text-decoration: none;
  color: black;
}

.contacts svg {
  height: 16px;
  width: 16px;
}

div.menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid black;
}

#refresh-rate {
  width: 3em;
}