body {
  min-width: 40em;
}

form {
  font-size: 14px;
}

form td {
  padding: 5px;
  vertical-align: top;
}

td:nth-last-child(2) {
  text-align: right;
}

td:only-child {
  text-align: center;
}

form table {
  width: 100%;
}

.submit-button {
  text-align: center;
}

.domain-list {
  min-width: 350px;
}

.domain-list input {
  min-width: 300px;
}

.domain-list #denied-domains {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10em;
  overflow-y: scroll;
}

.single-domain span {
  margin-left: 5px;
}

.errorneous {
  box-shadow: 0 0 3px #CC0000;
}

td.disclaimer {
  background-color: sandybrown;
  border: 1px solid black;
  border-radius: 10px;
  text-align: justify;
  text-indent: 1em;
  padding: 1em;
}
